.control {
  @apply absolute bottom-24 md:bottom-64 right-4 pl-8 flex flex-row 
  text-black z-30 w-full justify-between select-none;
}

.leftControl,
.rightControl {
  @apply cursor-pointer bg-white border w-8 h-8 flex justify-center items-center rounded-full border-gray-300;
  transition: background-color 0.2s ease;
}

.leftControl:hover,
.rightControl:hover {
  background-color: var(--accent-0);
}

.leftControl:focus,
.rightControl:focus {
  @apply outline-none;
}

.rightControl {
  @apply border-l;
}

.leftControl {
  margin-right: -1px;
}
