.root {
  @apply box-border relative inline-block w-full md:w-[33vw] xl:w-full max-h-full overflow-hidden transition-transform ease-linear bg-center bg-no-repeat bg-cover cursor-pointer;
  height: 100% !important;
}

.product-list-card {
  @apply w-[75vw];
}
/*
.root:hover {
  & .productImage {
    transform: scale(1.1);
  }

  & .header .name span,
  & .header .price,
  & .wishlistButton {
    @apply bg-secondary text-secondary;
  }

  &:nth-child(6n + 1) .header .name span,
  &:nth-child(6n + 1) .header .price,
  &:nth-child(6n + 1) .wishlistButton {
    @apply text-white bg-violet;
  }

  &:nth-child(6n + 5) .header .name span,
  &:nth-child(6n + 5) .header .price,
  &:nth-child(6n + 5) .wishlistButton {
    @apply text-white bg-blue;
  }

  &:nth-child(6n + 3) .header .name span,
  &:nth-child(6n + 3) .header .price,
  &:nth-child(6n + 3) .wishlistButton {
    @apply text-white bg-pink;
  }

  &:nth-child(6n + 6) .header .name span,
  &:nth-child(6n + 6) .header .price,
  &:nth-child(6n + 6) .wishlistButton {
    @apply text-white bg-cyan;
  }
} */

.header {
  @apply pr-16 text-base transition-colors duration-500 ease-in-out;
}

.header .name {
  @apply w-full max-w-full pt-0 transition-colors duration-500 ease-in-out leading-extra-loose;
  font-size: 2rem;
  letter-spacing: 0.4px;
}

.header .name span {
  @apply px-6 py-4 font-bold transition-colors duration-500 ease-in-out bg-primary text-primary;
  font-size: inherit;
  letter-spacing: inherit;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}

.header .price {
  @apply font-semibold tracking-wide;
}

.imageContainer {
  @apply object-cover w-full h-36 mb-2 md:h-56 overflow-hidden bg-gray-200 rounded-lg;
}

.imageContainer .productImage {
  @apply object-cover w-full h-36  md:h-56 overflow-hidden bg-gray-200 rounded-lg;
}

.root .wishlistButton {
  @apply absolute top-0 right-0 z-30;
}

/* Variant Simple */
.simple .header .name {
  @apply pt-2 -mt-1 text-base font-bold leading-10;
}
.simple .header .description {
  @apply pt-2 -mt-1 text-sm leading-10;
}

.simple .header .price {
  @apply text-lg;
}

/* Variant Slim */
.slim {
  @apply box-border relative overflow-hidden bg-transparent;
}

.slim .header {
  @apply absolute inset-0 z-20 flex items-center justify-end mr-8;
}

.slim span {
  @apply inline-block p-3 text-xl font-bold break-words bg-accent-9 text-accent-0;
}

.root:global(.secondary) .header span {
  @apply bg-accent-0 text-accent-9;
}
